{% extends 'base.html' %}
{% block navbar %}
    <div class="navbar navbar-dark bg-dark navbar-expand-md mb-5 p-2">
        <a href="{% url 'home' %}" class="navbar-brand">Logo</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'blog:profile' %}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog:post' %}" class="nav-link">POST</a>
            </li>
            {% endif  %}
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="menu">
            <ul class="navbar-nav ml-auto mr-5">
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'blog:login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:signup' %}" class="nav-link">Signup</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'blog:changepwd' %}" class="nav-link">Changepassword</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:logout' %}" class="nav-link">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock  %}
{% block b1 %}
    {% if request.user.is_authenticated %}
        <table class="table container ">
            <thead>
                <th>Id</th>
                <th>Details</th>
            </thead>
            <tbody>
                {% for i in users %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td><a href="{% url 'blog:userinfo' i.id %}" class="btn btn-success">View</a></td>
                    </tr>
                {% endfor  %}
            </tbody>
        </table>
    {% endif %}
    <form  method="post" novalidate>
        {% csrf_token %}
        <div class="form-group row">
            {% for i in form %}
                <label class="col-sm-3 offset-sm-3">{{i.label_tag}}</label>
                <div class="col-sm-1">{{i}}{{i.errors|striptags}}</div>
            {% endfor %}
            <div class="col-sm-1 offset-sm-6"><input type="submit" value="Submit" class="btn btn-primary"></div>
        </div>
    </form>
    {% if messages%}
        {% for i in messages %}
            <h3 class="text-center text-primary">{{i}}</h3>
        {% endfor  %}
    {% endif %}
{% endblock  %}